
<ng-container
  *ngIf="!!list?.length; else emptyBlock"
>
<div class="relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="py-3 px-2 text-center">Image</th>
        <th scope="col" class="py-3 px-2">Collection</th>
        <th scope="col" class="py-3 px-2">Audience Type</th>
        <th scope="col" class="py-3 px-2">Status</th>
        <th scope="col" class="py-3 px-2">Organisation</th>
        <th scope="col" class="py-3 px-2">Region</th>
        <th scope="col" class="py-3 px-2">Campaign Name</th>
        <th scope="col" class="py-3 px-2">Watchers</th>
        <th scope="col" class="py-3 px-2">Due Date</th>
        <th scope="col" class="py-3 px-2">Last Modified Date</th>
        <th scope="col" class="py-3 px-2">Created Date</th>
        <th scope="col" class="py-3 px-2">Type</th>
        <th scope="col" class="py-3 px-2">Scene Count</th>
        <th scope="col" class="py-3 px-2">Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        *ngFor="let item of list; trackBy: trackItem"
      >
        <td class="py-2 px-2 picture">
          <ng-container *ngIf="item.image; else noImage">
            <img class="h-24 rounded-full" [src]="item.image" alt="image description">
          </ng-container>
          <ng-template #noImage>
            <span id="noImage1">No preview</span>
          </ng-template>
        </td>
        <th
          scope="row"
          class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{item.name}}
        </th>
        <td class="py-4 px-2">{{item.audienceType}}</td>
        <td class="py-4 px-2">{{item.status}}</td>
        <td class="py-4 px-2">{{item.organisation.name}}</td>
        <td class="py-4 px-2">{{item.region}}</td>
        <td class="py-4 px-2">{{item?.campaignName}}</td>
        <td class="py-4 px-2">{{item.watchers.join(',')}}</td>
        <td class="py-4 px-2">{{item.dueDate | date}}</td>
        <td class="py-4 px-2">
          {{item.lastModifiedDate | date}} by {{item.lastModifiedBy}}
        </td>
        <td class="py-4 px-2">
          {{item.createdDate | date}} by {{item.createdBy}}
        </td>
        <td class="py-4 px-2">{{item.type}}</td>
        <td class="py-4 px-2">{{item.sceneCount}}</td>
        <td class="py-4 px-2">
          <div class="text-center" *ngIf="item?.comments">
            <button
              (click)="toggleComments(item.comments)" 
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example">
              Show comments
            </button>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  <nav
    class="flex justify-between items-center pt-4"
    aria-label="Table navigation"
  >
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
      >Showing
      <span class="font-semibold text-gray-900 dark:text-white">1-10</span> of
      <span class="font-semibold text-gray-900 dark:text-white">{{pageConfig?.totalElements}}</span>
    </span>
    <ul class="inline-flex items-center -space-x-px">
      <li>
        <a
          id="previous"
          (click)="previousPage.emit()"
          class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Previous</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >1</a
        >
      </li>
      <li>
        <a
          href="#"
          class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >2</a
        >
      </li>
      <li>
        <a
          href="#"
          class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >...</a
        >
      </li>
      <li>
        <a
          href="#"
          class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >{{pageConfig?.totalPages}}</a
        >
      </li>
      <li>
        <a
          id="next"
          [class.disable]="pageConfig?.totalPages === 1"
          (click)="nextPage.emit()"
          class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Next</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div id="drawer-example" class="fixed z-40 h-screen p-4 overflow-y-auto bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
  <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Comments</h5>
  <button type="button" data-drawer-dismiss="drawer-example" aria-controls="drawer-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    <span class="sr-only" (click)="toggleComments([])">Close menu</span>
  </button>
  <div class="grid mb-8 rounded-lg border border-gray-200 shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-1">
      <figure *ngFor="let comment of comments" class="flex flex-col justify-center items-center p-8 text-center bg-white rounded-t-lg border-b border-gray-200 md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
          <blockquote class="mx-auto mb-4 max-w-2xl text-gray-500 lg:mb-8 dark:text-gray-400">
              <p class="my-4 font-light">{{comment.text}}</p>
          </blockquote>
          <figcaption class="flex justify-center items-center space-x-3">
              <div class="space-y-0.5 font-medium dark:text-white text-left">
                  <div>{{comment.createdBy}}</div>
                  <div class="text-sm font-light text-gray-500 dark:text-gray-400">{{comment.createdDate | date}}</div>
              </div>
          </figcaption>    
      </figure>
  </div>
</div>
</ng-container>
<ng-template #emptyBlock>
  <p id="emptyList" class="mb-3 font-light text-gray-500 dark:text-gray-400">No data</p>
</ng-template>